.footer {
    background-color: rgb(29, 124, 142);
    width: 100%;
}

.align {
    display: inline-block;
    width: 50%;
}

.left {
    composes: align;
    text-align: left;
}

.right {
    composes: align;
    text-align: right;
    color: #fff;
    vertical-align: middle;
    font-size: 12px;
}

.wrapper{
    padding: 5px;
}
.github {
    background: url('./GitHub-Mark-Light-120px-plus.png') center no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
}

.vg {
    background: url('./VG_logo.png') center no-repeat;
    background-size: 55px 13px;
    height: 16px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}
a{
    color: #fff;
}
