.hero {
    background-image: url('./assets/hero.jpg');
    height: 380px;
    text-align: center;
    padding-top: 20px;
    color: #fff;

    h1 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}


.install {
    display: inline-block;
    background: #2b303b;
    border: 1px solid #16191F;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 40px;
    padding: 16px 32px;
}
