.highlight {
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    width: 33%;
}

.image {
    width: 100px;
    height: 100px;
    background-image: url('./assets/cat.jpg');
}
.bruk {
    composes: image;
    // Todo: add background-image-pointer to asset
}
