.highlight {
    vertical-align: top;
    display: inline-block;
    padding: 10px 20px;
    width: 50%;
    text-align: left;
    margin-bottom: 15px;

    h4 {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .highlight  {
        width: 100%;
    }
}


.text {
    display: inline-block;
    width: calc(100% - 65px);
    text-align: left;
    vertical-align: top;
    font-weight: 300;
}

.image {
    vertical-align: top;
    //float: left;
    text-align: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('./assets/user36.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 15px;
}

.ossservice {
    composes: image;
    background-image: url('./assets/cellphone.svg');
}

.consistency {
    composes: image;
    background-image: url('./assets/cellphone106.svg');
}

.composition {
    composes: image;
    background-image: url('./assets/computing29.svg');
}

.automation {
    composes: image;
    background-image: url('./assets/robots9.svg');
}

.developerux {
    composes: image;
    background-image: url('./assets/internet54.svg');
}

.dynamicconfig {
    composes: image;
    background-image: url('./assets/three115.svg');
}

.reduceboiler {
    composes: image;
    background-image: url('./assets/user36.svg');
}

.reactredux {
    composes: image;
    background-image: url('./assets/website21.svg');
}
