.quickstart {
    background: #fff;
    text-align: center;

    h4 {
        font-family: 'Rajdhani';
        font-size: 16px;
        text-transform: uppercase;
    }
}

.column {
    width: 50%;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-weight: 300;
    line-height: 24px;
}


@media (max-width: 600px) {
    .column  {
        width: 100%;
    }

    .moreButton {
        width: 100%;
    }
}



.moreButton {
    display: inline-block;
    padding: 5px 40px;
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 3px solid rgb(29, 124, 142);
    background: #fff;
    border-radius: 2px;
    line-height: 30px;
    text-transform: uppercase;
    color: rgb(29, 124, 142);
    text-decoration: none;
}
