.quickstart {
    background: #fff;
    text-align: center;


}

.column {
    width: 50%;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-weight: 300;
    line-height: 24px;

    h3 {
        margin-bottom: 20px;
        text-align: left;
    }
    h4 {
      font-family: 'Rajdhani';
      font-size: 24px !important;
      font-weight: 500 !important;

    }
    h5{
      font-family: 'Rajdhani';
      font-size: 18px;
      font-weight: 500;
    }
}


@media (max-width: 600px) {
    .column  {
        width: 100%;
    }

    .moreButton {
        width: 100%;
    }
}

.moreButton {
    display: inline-block;
    padding: 5px 40px;
    margin: 30px 0px;
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 2px solid rgb(29, 124, 142);
    background: #fff;
    border-radius: 2px;
    line-height: 30px;
    text-transform: uppercase;
    color: rgb(29, 124, 142);
    text-decoration: none;
}

.moreButton:hover {
    color: #fff;
    background: rgb(29, 124, 142);
}
