.extensions {
    background: #fff;
    text-align: center;

    img {
        margin: 0 auto 0 auto;
        display: block;
    }

    @media (max-width: 600px) {
        img {
            width: 80%;
        }
    }
}

.moreButton {
    display: inline-block;
    padding: 5px 40px;
    margin: 30px 0px;
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 2px solid #5F7A91;
    background: #fff;
    border-radius: 2px;
    line-height: 30px;
    text-transform: uppercase;
    color: #5F7A91;
    text-decoration: none;
}

.moreButton:hover {
    color: #fff;
    background: #254763;
}
