.navbar {
    height: 60px;
    background: #969696;

    ul {
        list-style: inside;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    a {
        padding: 10px;
        line-height: 40px;
    }
}
