.search {
    width: 100%;
    color: #fff;
    display: inline-block;
    padding: 0 20px 0 20px;
    height: 60px;
    line-height: 60px;

    form {
        display: inline-block;

        input {
            border: none;
            background: inherit;
            color: #fff;
            width: 110px;
            height: 25px;
            padding: 4px;
            font-size: 14px;
            font-family: 'Rajdhani';
            font-size: 18px;
            font-weight: 200;
        }
    }

    img {
        display: inline-block;
        height: 25px;
        vertical-align: middle;
        width: 25px;
        margin-right: 10px;
    }
}

